.seat {
    width: 30px;
    height: 25px;
    margin: 5px 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: grey;
    cursor: pointer;
}

.available {
    background-color: grey;
}

.selected {
    background-color: red;
}

.occupied {
    background-color: rgb(255, 255, 255);
}